SANDBOX_POSTGRES_HOST=127.0.0.1
SANDBOX_POSTGRES_PORT=5432
SANDBOX_POSTGRES_USER=admin
SANDBOX_POSTGRES_PASSWORD=admin
SANDBOX_POSTGRES_DB=admin

MINIO_HOST=127.0.0.1
MINIO_PORT=6001
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin_pw
MINIO_REGION=us-east-1
